h1 {
      text-align: center;
    }

table, th {
  border: 1px solid black;
  text-align: center;
  height: auto;
  white-space: nowrap;
}


td {
  border: 1px solid black;
  text-align:left;
  font-size: 14px;
  width:  auto;
  overflow: hidden;
  white-space: nowrap;
}

#StateData td{
  border: 1px solid black;
  text-align:left;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  width:  auto;
  overflow: hidden;
  white-space: nowrap;
}

#test th {
  background-color: rgb(255, 0, 0);
  color: rgba(254, 254, 254, 254);
}
